.header {
  background-color: #a5a7aa;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(249, 247, 247, 0.1); /* Optional: Adds a subtle shadow for better visibility */
}

.navbar-nav .nav-link {
  color: #333;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #00b315;
}

.navbar-brand:hover {
  color: #00b315;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #a5a7aa;
  color: #00b315;
}

.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:active {
  background-color: #e9ecef;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.profiles .nav-link {
  margin-right: 1rem;
}

.profiles .nav-link:hover {
  color: #00b315;
}

/* Keyframes for color-change animation */
@keyframes color-change {
  0% {
    background-color: rgb(231, 224, 224);
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

.brand-animation {
  display: inline-block;
  animation: color-change 10s infinite;
  padding: 5px 10px;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.brand-animation:hover {
  color: #fff;
}
